<h1><%= @item.name %></h1>
<p align="center">Sold by: <%=link_to @item.merchant.name, "/merchants/#{@item.merchant.id}" %> </p>
<section class="item-cards">
  <section class = "item-card">
    <img src= <%= @item.image %>>
    <p><%= @item.description %></p>
    <p>Price: <%= number_to_currency(@item.price) %> </p>
    <p>Inventory: <%= @item.inventory %> </p>
    <% if @item.active? %>
      <p style= "color:green">Active</p>
    <% else %>
      <p style= "color:red">Inactive</p>
    <% end %>
    <p><%= link_to "Edit Item", "/items/#{@item.id}/edit" %></p>
    <p><%= link_to "Delete Item", "/items/#{@item.id}", method: :delete unless @item.ordered? %></p>
    <p><%= link_to "Add Item to Cart", "/cart/#{@item.id}", method: :patch unless cart.inventory_limit?(@item.id) %></p>
  </section>
  <h1>Reviews</h1>
  <%= link_to "Create New Review", "/items/#{@item.id}/reviews/new" %>
  <% @item.reviews.each do |review| %>
    <section class="item-card-single">
      <section id="review-<%= review.id %>">
        <p>Title: <%= review.title %></p>
        <p id="review-content">Content: <%= review.content %></p>
        <p>Rating: <%= review.rating %></p>
        <%= link_to 'Edit Review', "/items/#{@item.id}/reviews/#{review.id}/edit" %>
        <%= link_to "Delete Review", "/items/#{@item.id}/reviews/#{review.id}", method: :delete %>
      </section>
    </section>
  <% end %>
  <h1>Top 3 Reviews</h1>
  <section id="review-top-three">
    <% @item.top_three_reviews.each do |review|%>
    <section class="item-card-single">
      <p>Title: <%= review.title %></p>
      <p>Rating: <%= review.rating %></p>
    </section>
    <% end  %>
  </section>
  <h1>Bottom 3 Reviews</h1>
  <section id="review-bottom-three">
    <% @item.bottom_three_reviews.each do |review|%>
      <section class="item-card-single">
        <p>Title: <%= review.title %></p>
        <p>Rating: <%= review.rating %></p>
      </section>
    <% end  %>
  </section>
  <section id="review-average-rating">
    <h1>Average Rating: <%= @item.average_review_rating %></h1>
  </section>
</section>
